{% extends 'base.html' %}

{% block content %}
    <section class="content">
        <div class="container">
            <h2>Discover Your Next Favourite Restaurant</h2>
            <form action="{{ url_for('results') }}" method="post" class="form-container">
                <label for="city">Enter Your City:</label>
                <input type="text" name="city" id="city" required>
                <label for="cuisine">Select a Cuisine:</label>
                <select name="cuisine" id="cuisine" required>
                    {% for cuisine in cuisines %}
                        <option value="{{ cuisine }}">{{ cuisine.title() }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Find Restaurant</button>
            </form>
        </div>
    </section>
{% endblock %}
