<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
	<title>Pick My Food</title>
</head>


<body>
	<div class="banner">
		<header>
			<h1>Pick My Food</h1>
		</header>
	</div>
	<div class="inline">
		<main>
			<form action="" method="GET">
				<button class="eating_in">Eating In?</button>
      </form>
      <form action="" method="GET">
        <button class="dining_out">Dining Out?</button>
      </form>
    </main>
  </div>
</body>

<footer>
	<form action="">

	</form>
</footer>

</html>